<!-- Services -->
  <section class="bg-light page-section py-5" id="{{ site.data.sitetext.services.section | default: "services" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ site.data.sitetext.services.title | default: "Services We Offer" }}</h2>

          {% if site.data.sitetext.services.text %}
          
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext.services.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="card-deck services">
        
	  {% for service in site.data.sitetext.services.list %}
        <div class="card">
          <div class="card-body text-center">
            <span class="fa-stack fa-3x">
              <i class="fas fa-circle fa-stack-2x "></i>
              <i class="{{ service.icon | default: "" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="card-title service-heading">{{ service.title | markdownify }}</h4>
            {% if service.desc %}
            <div class="text-muted">{{ service.desc | markdownify }}</div>
            {% endif %}
          </div>
          {% if service.link %}
          <div class="card-footer text-center">
            <a href="{{ service.link.url }}" class="btn btn-outline-primary btn-xl">{{ service.link.text }}</a>
          </div>
          {% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Services -->