<!-- Clients -->
<section class="bg-white py-5" id="{{ site.data.sitetext.suburbs.section | default: "suburbs" }}">
 <!-- Heading -->
  <div class="col-lg-12 text-center">
    <h2 class="section-heading">{{ site.data.sitetext.suburbs.title }}</h2>
  </div>
   <!-- Heading End-->
  <div class="container">
    <div class="row d-flex justify-content-around" {% if site.data.sitetext.suburbs.horizontal-scrolling == "yes" %}
      id="scrolling-suburbs" {% endif %}>
      <h3 class="textblock-subheading text-muted">{{ site.data.sitetext.suburbs.title }}</h3></div>
      <!-- Loop through Suburbs list-->
      
      {% for suburbs in site.data.sitetext.suburbs.list %}
     
        <div class="col-md-3 col-sm-6 " style="height: 100px;">
        <!-- <a href="{{ client.url }}" class="h-  100"> -->
          
          <img class="img-fluid d-block mx-auto align-self-center" src="{{ suburbs.image }}" alt="{{ suburbs.title }}"
            style="max-height: {{ site.data.sitetext.suburbs.max-height | default: "100px" }} ;  margin=300px "></a>
        </div>
      {% endfor %}

    </div>
  </div>
</section>